.Company {
  text-align: "center";
  min-width: 40%;
}
.Image {
  width: 250px;
  height: 150px;
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .Company h3 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
  }

  .Image {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
}