.ProjectCard {
  width: 300px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
    white-space: pre-line;
 }

.ProjectCard__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.ProjectCard__title {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  display: flex;
  align-content: center;
}

.ProjectCard__code-link {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: var(--highlight-font);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  margin: 2px;
}

.Disabled {
  background-color: var(--disabled);
}


.ProjectCard__code-link:hover {
  background-color: var(--highlight-font-light);
}

.Disabled:hover {
  background-color: var(--disabled);
  cursor: default;
}

.ProjectCard__bar {
  background-color: var(--secondary);
  height: 64px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 5px;
}

.ProjectCard__barButton {
  
}
