@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;900&family=Zen+Dots&display=swap');

@font-face {
  font-family: 'eurostile';
  src: local('eurostile'), url(./fonts/EuroStyle\ Normal.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


:root {
  --primary:  #FFC6A0; /* #E3D0A4; /*#10A050F9;/* #7510F7F9; /* #1e90ff; */
  --secondary: #FFF; /* #FDC; */
  --terceary: #282c34;
  --highlight: #C5C5E2;

  --colorA: #858585; /*#A01050F9; */
  --colorB: #F5F5F5;
  --colorC: #222;

  --commonShadow: 1px 1px 6px #ccc2, -1px -1px 6px #ccc2, 1px -1px 6px #ccc2, -1px 1px 6px #ccc2;
  --disabled: #BBB;

  --primary-font: #111;
  --secondary-font: #222;
  --highlight-font: #F71;
  --highlight-font-light: #F82;

  --button-hover-green: #10C050F9;
}


html {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: #0F0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.6s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
