body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

li {
  list-style-type: none;
  display: block;
  height: min-content;
  text-align: -webkit-match-parent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ProjectGrid {
  max-width: 80%;
  margin: auto;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

@media (max-width: 1200px) {
  .ProjectGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .ProjectGrid {
    grid-template-columns: 1fr;
  }
}

